<!DOCTYPE html>
<html>
  <head>
    <title>Bizteacher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <div class="footer">
      <img src="/beian-police.png">
      <a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备2021044837号-1</a>
    </div>
  </body>
</html>
